body {
    font-family: 'Work Sans', sans-serif;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
.header {
    background-color: #F3C6BD;
}
.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 39px 0 76px;
}
.header__logo {
    display: flex;
    align-items: center;
}
.header__logo-img {
    margin-right: 15px;
}
.header__logo-text1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
}
.header__logo-text2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
}
.header__content-nav {
    display: flex;
    align-items: center;
}
.header__content-nav > div {
    margin-left: 75px;
}
.header__content-li {
    display: inline-block;
}
.header__content-li:not(:last-child) {
    margin-right: 20px;
}
.header__content-li > a {
    font-weight: 400;
    font-size: 18px;
    color: #2B292D;
    text-decoration: none;
}
.header__content-li > a:hover {
    font-weight: 700;
}
.button {
    border: none;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    padding: 17px 28px;
    background-color: #3040C4;
    border-radius: 2px;
    font-weight: 700;
    cursor: pointer;
}
.button:hover {
    background-color: #FFFFFF;
    color: #3040C4;
    transition: 0.5s;
}
.build-bg {
    background-color: #F3C6BD;
}
.build {
    display: flex;
}
.build__content {
    position: relative;
}
.build__content-title {
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    color: #2B292D;
    font-weight: 700;
    position: absolute;
    right: -350px;
    top: -10px;
}
.build__content-text {
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    width: 456px;
    margin: 189px 0 58px;
}
.build__img-men {
   padding-bottom: 77px 
}
.questions-bg {
    background-color: #F4F5F7;
}
.questions__content {
    display: flex;
    justify-content: center;
    padding: 77px 0;
}
.questions__content-text:not(:last-child) {
    margin-right: 30px;
}
.questions-text {
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
    max-width: 555px;
}
.questions-text:not(:last-child) {
    font-weight:700;
}
.labels-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 106px;
}
.label {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) grayscale(100%);
}
.busy {
    padding: 100px 0;
    margin: 0 auto;
}
.busy-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text-mini {
    font-size: 22px;
    line-height: 34px;
    font-weight: 800;
    margin-bottom: 25px;
}
.text-mini_blue {
    color: #0189D1;
}
.title-inner {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    font-weight: 700;
    max-width: 462px;
    margin-bottom: 30px;
}
.text-inner {
    font-size: 24px;
    line-height: 34px;
    max-width: 461px;
    margin-bottom: 40px;
    font-weight: 400;
}
.busy-info-flex {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
.busy-info-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    max-width: 360px;
}
.busy-info-text > span {
    font-weight: 700;
}
.busy-info-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #3142C6;
}
.understand-bg {
    background-color: #EDF8FB;
}
.understand-pre-title {
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    font-weight: 700;
    padding: 108px 0 24px;
}
.understand-title {
    font-size: 56px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.5px;
    font-weight: 700;
    max-width: 555px;
    margin: 30px auto;
}
.understand-text {
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    max-width: 555px;
    margin: 0 auto;
}
.understand__button {
    text-align: center;
    margin: 34px auto 111px;
}
.understand-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: 0 auto;
    height: 300px;
    padding-bottom: 110px;
}
.understand-grid > a {
    color: black;
    text-decoration: none;
}
.understand-grid > a:hover {
    color: #FFFFFF;
    background-color: #3141C5;
    transition: 0.5s;
}
.understand-grid__item1 {
    background-image: url(../img/grid2/Item1.png);
}
.understand-grid__item2 {
    background-image: url(../img/grid2/Item2.png);
}
.understand-grid__item3 {
    background-image: url(../img/grid2/Item3.png);
}
.understand-grid__item4 {
    background-image: url(../img/grid2/Item4.png);
}
.understand-grid-text {
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
    margin-top: 239px;
    text-align: center;
}
.understand-grid-items-setting {
    background-position: center 22px;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    border-radius: 8px;
}
.surfaces-grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin: 0 auto;
    height: 100vh;
    margin-bottom: 91px;
}
.surfaces-grid-items-setting {
    background-size: cover;
    background-position: center;
}
.surfaces-grid__item1 {
    background-image: url(../img/grid/picture1.png);
}
.surfaces-grid__item2 {
    background-image: url(../img/grid/picture2.png);
}
.surfaces-grid__item3 {
    grid-area: 1 / 3 / span 2 / span 1;
    background-image: url(../img/grid/picture3.png);
}
.surfaces-grid__item4 {
    grid-area: 2 / 1 / span 2 / span 1;
    background-image: url(../img/grid/picture4.png);
}
.surfaces-grid__item5 {
    background-image: url(../img/grid/picture5.png);
}
.surfaces-grid__item6 {
    background-image: url(../img/grid/picture6.png);
}
.surfaces-grid__item7 {
    background-image: url(../img/grid/picture7.png);
}
.surfaces-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    max-width: 588px;
    margin: 90px auto 0;
}
.surfaces-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    max-width: 554px;
    text-align: center;
    margin: 0 auto 97px;
}

@media (max-width: 1200px) {
    .container {
        max-width: 1040px;
    }
    .header__content {
        padding: 20px 0 50px;
    }
    .build__content-title {
        font-size: 70px;
    }
    .build__content-text {
        width: 400px;
        margin: 160px 0 40px;
    }
    .busy {
        padding: 80px 0;
    }
    .img-men {
        max-width: 690px;
    }
    .busy-info-text {
        max-width: 320px;
    }
    .surfaces-grid {
        gap: 30px;
    }
}
@media (max-width:1090px) {
    .container {
        max-width: 750px;
    }
    .header__content {
        padding: 15px 0 40px;
    }
    .build__content-title {
        font-size: 50px;
        line-height: 55px;
        right: -150px;
    }
    .build__content-text {
        font-size: 20px;
        margin: 125px 0 30px;
        line-height: 25px;
    }
    .build__img-men {
        padding-bottom: 55px;
    }
    .img-men {
        max-width: 500px;
    }
    .button {
        padding: 18px 16px;
    }
    .questions__content {
        flex-direction: column;
        padding: 30px 0;
    }
    .questions__content-text {
        max-width: 432px;
        margin-left: 200px;
    }
    .questions__content-text:not(:last-child) {
        margin-right: 0;
        margin-bottom: 30px;
    }
    .questions-text {
        font-size: 20px;
    }
    .labels-flex {
        max-width: 620px;
        padding: 30px 0 41px;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .label {
        margin-top: 37px;
        margin-right: 120px;
    }
    .label:nth-child(1) {
        margin-left: -25px;
    }
    .label:nth-child(2) {
        margin-left: -30px;
    }
    .label:nth-child(3) {
        margin-left: -20px;
    }
    .label:nth-child(3n) {
        margin-right: 0;
    }
    .busy-flex {
        flex-direction: column;
    }
    .busy-info-flex__communication, .busy-info-flex__felxible {
        display: none;
    }
    .text-mini {
        font-weight: 700;
        text-align: center;
        margin-bottom: 18px;
    }
    .title-inner {
        font-size: 48px;
        max-width: 318px;
        margin: 0 auto 19px;
    }
    .text-inner {
        font-size: 20px;
        line-height: 26px;
        text-align: center;
        max-width: 419px;
    }
    .busy-flex__button-inner {
        text-align: center;
        margin-bottom: 37px;
    }
    .busy-info-flex__subscriptions {
        margin: 0 auto;
        text-align: center;
    }
    .busy {
        padding: 73px 0 38px;
    }
    .understand-grid {
        grid-template-columns: repeat(2, 2fr);
        height: 100%;
        max-width: 588px;
        gap: 38px 64px;
        padding-bottom: 79px;
    }
    .understand-grid-text {
        padding-bottom: 33px;
    }
    .understand__button {
        margin: 27px auto 52px;
    }
    .understand-pre-title {
        padding: 50px 0 0;
    }
    .understand-title {
        font-size: 48px;
        margin: 27px auto;
    }
    .understand-text{
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
    }
    .surfaces-grid {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(2, 1fr);
        height: 920px;
        gap: 30px 50px;
        margin-bottom: 124px;
    }
    .surfaces-title {
        margin: 43px auto 29px;
        font-size: 48px;
        line-height: 56px;
        text-align: center;
    }
    .surfaces-text {
        font-size: 20px;
        max-width: 399px;
    }
    .surfaces-grid__item2 {
        grid-area: 1 / 2 / span 2 / span 1;
        background-image: url(../img/grid/picture3.png);
        border-radius: 8px;
    }
    .surfaces-grid__item3 {
        display: none;
    }
    .surfaces-grid__item4 {
        border-radius: 8px;
    }
    .surfaces-grid__item7 {
        background-image: url(../img/grid/picture2.png);
        border-radius: 8px;
    }
}
@media (max-width: 800px) {
    .container {
        max-width: 500px;
    }
    .header__content {
        padding-bottom: 25px;
    }
    .header__logo-text2 {
        display: none;
    }
    .header__button {
        display: none;
    }
    .img-men {
        width: 400px;
    }
    .button {
        padding: 14px 12px;
        font-size: 16px;
    }
    .build {
        flex-direction: column;
    }
    .build__img-men {
        text-align: center;
        padding: 0;
    }
    .build__content-title {
        right: 0;
    }
    .build__content-text {
        font-size: 18px;
        max-width: 350px;
        margin: 100px 0 20px;
    }
    .questions__content-text {
        margin-left: 55px;
        max-width: 400px;
    }
    .label {
        margin-right: 60px;
    }
    .busy {
        padding-top: 55px;
    }
    .busy-flex__img {
        width: 390px;
    }
    .understand-grid {
        gap: 20px 35px;
    }
    .understand-grid-text {
        margin-top: 225px;
        padding-bottom: 20px;
    }
    .surfaces-grid__item1, .surfaces-grid__item5, .surfaces-grid__item6{
        border-radius: 8px;
    }
    .surfaces-text {
        margin-bottom: 55px;
    }
    .surfaces-grid {
        margin-bottom: 70px;
        gap: 20px 30px;
    }
}
@media (max-width: 550px) {
    .container {
        max-width: 430px;
    }
    .img-men {
        width: 380px;
    }
    .questions-text {
        font-size: 18px;
        line-height: 25px;
        max-width: 320px;
    }
    .questions__content-text {
        margin-left: 45px;
    }
    .labels-flex {
        padding: 20px 0 30px;
    }
    .label {
        margin-right: 35px;
    }
    .text-inner, .understand-text {
        font-size: 18px;
    }
    .title-inner, .understand-title, .surfaces-title {
        font-size: 46px;
        line-height: 50px;
    }
    .understand-grid {
        gap: 15px 20px;
    }
    .surfaces-grid {
        margin-bottom: 60px;
        gap: 15px 20px;
    }
    .busy-flex__img {
        width: 350px;
    }
}